html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgb(235, 238, 35),#14a51b);
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    color: rgb(156, 98, 98);
    background-color: rgb(156, 156, 154);
    border-radius: 8px;
    border:  1px solid;
    width: 80px;
    height: 30px;
}