html{
  background-image: url("logo.jpg");
  background-size:100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 3px solid #ddd;
  border-collapse: collapse;
  background-color: #fff;

  }
  
  
.table-head{
  background-color:rgb(167, 169, 207);
  font-style:oblique;
  
}
.btn{
  background: none;
  border: none;
  cursor: pointer;
}
.addButton{
  border:none;
  border-radius: 4px;
  height: 25px;
  background: none; 
  font-style:oblique;
  background-color: rgb(65, 63, 63);
  cursor: pointer;
  color:#e7e7e7;
  
  
}
